
SlidingStackedWidget {
	qproperty-speed: 200;
	qproperty-easingCurve: OutCirc;
}

FirstRunWizard {
	background-repeat: none;
	background-color: white;
	background-image: url(":/bg_clouds.png");
}

FirstRunWizard QLabel#welcome {
	color: #333;
	font-size: 14px;
	margin: 30px 30px 0px;
}

FirstRunWizard QLabel#title {
	color: #d51007;
	font-size: 16px;
	font-weight: bold;
	margin: 30px;
}

WizardPage QLabel {
	color: #333;
	font-size: 14px;
}

FirstRunWizard QStackedWidget {
  margin: 0px 40px;
}

FirstRunWizard QAbstractButton {
background-color: transparent;
border: none;
font-size: 11px;
color: #333;
}

/* QWizard::NextButton */
/* QWizard::FinishButton */
/* QWizard::CommitButton */
FirstRunWizard QAbstractButton#next,
FirstRunWizard QAbstractButton#finish {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #cc4d25, stop:1 #a02b1e);
	font-size: 14px;
	color: white;
	padding: 10px;
	border: 1px solid #711a11;
	border-radius: 3px;
}

FirstRunWizard QAbstractButton#next:hover,
FirstRunWizard QAbstractButton#finish:hover {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #e34729, stop:1 #b23d21);
}

FirstRunWizard QAbstractButton#next:pressed,
FirstRunWizard QAbstractButton#finish:pressed {
	background-color: #9f2a1d;
}

/* QWizard::BackButton */
/* QWizard::CancelButton */
/* QWizard::HelpButton */
/* QWizard::CustomButton1 */
FirstRunWizard QAbstractButton#custom {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #b8b8b8, stop:1 #a3a3a3);
	font-size: 14px;
	color: white;
	padding: 10px;
	border: 1px solid #888;
	border-radius: 3px;
}

FirstRunWizard QAbstractButton#custom:hover {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #cdcdcd, stop:1 #b6b6b6);
}
	
FirstRunWizard QAbstractButton#custom:pressed {
	background-color: #a2a2a2;
}

LoginPage QLabel#image { qproperty-pixmap: url(":/graphic_connect.png"); }
AccessPage QLabel#image { qproperty-pixmap: url(":/graphic_access.png"); }
PluginsPage QLabel#image { qproperty-pixmap: url(":/graphic_plugins.png"); }
PluginsInstallPage QLabel#image { qproperty-pixmap: url(":/graphic_plugins.png"); }
PluginsBootstrapPage QLabel#image { qproperty-pixmap: url(":/graphic_connect.png"); }
PluginsBootstrapProgressPage QLabel#image { qproperty-pixmap: url(":/graphic_connect.png"); }
TourScrobblesPage QLabel#image { qproperty-pixmap: url(":/graphic_scrobbles.png"); }
TourMetadataPage QLabel#image { qproperty-pixmap: url(":/graphic_metadata.png"); }
TourRadioPage QLabel#image { qproperty-pixmap: url(":/graphic_radio.png"); }
TourLocationPage QLabel#image { qproperty-pixmap: url(":/graphic_access.png"); }
TourFinishPage QLabel#image { qproperty-pixmap: url(":/graphic_finish.png"); }

PluginsPage QCheckBox,
BootstrapPage QRadioButton { qproperty-iconSize: 44px; }
PluginsPage QCheckBox#itw,
BootstrapPage QRadioButton#itw { qproperty-icon: url(":/player_itunes_64.png"); }
PluginsPage QCheckBox#wa2,
BootstrapPage QRadioButton#wa2 { qproperty-icon: url(":/player_winamp_64.png"); }
PluginsPage QCheckBox#wmp,
BootstrapPage QRadioButton#wmp { qproperty-icon: url(":/player_wmp_64.png"); }
PluginsPage QCheckBox#foo3,
BootstrapPage QRadioButton#foo3 { qproperty-icon: url(":/player_foobar_64.png"); }


MessageBar {
	border: none;
}

MessageBar {
  background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #E4F1FF, stop:1 #C3CEDA);
  border-bottom: 1px solid #3A3D41;
}

MessageBar#radio {
  background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFF7CA, stop:1 #DAD3AD);  
  border-bottom: 1px solid #413F33;
}

MessageBar QLabel#icon {
  background-repeat: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  min-width: 19px;
  min-height: 19px;
}

MessageBar QLabel#icon {
  background-image: url(":/message_info.png");
}

MessageBar#radio QLabel#icon {
  background-image: url(":/message_error.png");
}

MessageBar QPushButton#close {
  background-repeat: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  background-image: url(":/message_close.png");
  min-width: 17px;
  min-height: 17px;
}

SideBar {
	border: none;
	background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #2d2d2d, stop:0.925 #2d2d2d, stop:1 #232323);
	padding: 0px;
	margin: 0px;
	min-width: 76px;
}

SideBar QAbstractButton {
	text-align: bottom;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	font-size: 11px;
	color: #888888;
	border: none;
	height: 67px;
	width: 70px;
	padding-bottom: 13px;
	/* the height and bottom-padding should add up to 80px */
}

SideBar QAbstractButton:hover,
SideBar QAbstractButton:checked {
color: #ffffff;
}

SideBar QAbstractButton#nowPlaying {
background-image: url(":/tab_now_playing_REST.png");
}
SideBar QAbstractButton#nowPlaying:hover {
background-image: url(":/tab_now_playing_HOVER.png");
}
SideBar QAbstractButton#nowPlaying:checked {
background-image: url(":/tab_now_playing_ACTIVE.png");
}

SideBar QAbstractButton#scrobbles {
background-image: url(":/tab_scrobbles_REST.png");
}
SideBar QAbstractButton#scrobbles:hover {
background-image: url(":/tab_scrobbles_HOVER.png");
}
SideBar QAbstractButton#scrobbles:checked {
background-image: url(":/tab_scrobbles_ACTIVE.png");
}

SideBar QAbstractButton#profile {
background-image: url(":/tab_profile_REST.png");
}
SideBar QAbstractButton#profile:hover {
background-image: url(":/tab_profile_HOVER.png");
}
SideBar QAbstractButton#profile:checked {
background-image: url(":/tab_profile_ACTIVE.png");
}

SideBar QAbstractButton#friends {
background-image: url(":/tab_friends_REST.png");
}
SideBar QAbstractButton#friends:hover {
background-image: url(":/tab_friends_HOVER.png");
}
SideBar QAbstractButton#friends:checked {
background-image: url(":/tab_friends_ACTIVE.png");
}

SideBar QAbstractButton#radio {
background-image: url(":/tab_radio_REST.png");
}
SideBar QAbstractButton#radio:hover {
background-image: url(":/tab_radio_HOVER.png");
}
SideBar QAbstractButton#radio:checked {
background-image: url(":/tab_radio_ACTIVE.png");
}

QFrame#splitter1,
QFrame#splitter2,
QFrame#splitter3,
QFrame#splitter4 {
	border: none;
	border-right: 1px solid white;
	border-left: 1px solid #cdcdcd;
	min-width: 0px;
	max-width: 0px;
	margin: 0px 20px;
}

QFrame#splitter,
QFrame#hsplitter1,
QFrame#hsplitter2 {
	border: none;
	border-bottom: 1px solid white;
	border-top: 1px solid #cdcdcd;
	min-height: 0px;
	max-height: 0px;
	margin: 10px 0px;
}

NothingPlayingWidget {
	border: none;
}

NothingPlayingWidget QLabel {
color: #333;
font-size: 12px;
}

NothingPlayingWidget QFrame#contents {
	border: none;
	background-image: url(":/start_bg.png");
	background-repeat: none;
	padding: 20px;
	margin: 0px;
}

NothingPlayingWidget QLabel#start {
	font-size: 16px;
	font-weight: bold;
}

NothingPlayingWidget QLabel#top {
	color: #333;
	font-size: 12px;
	font-weight: bold;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #dbdbdb, stop:1 #c1c1c1);
	border: none;
	border-bottom: 1px solid #989898;
	min-height: 38px;
	margin: 0px;
	padding-left: 20px;
}

NothingPlayingWidget QLabel#scrobble {
	margin: 10px 0px 20px;
}

NothingPlayingWidget QAbstractButton#itunes,
NothingPlayingWidget QAbstractButton#wmp,
NothingPlayingWidget QAbstractButton#winamp,
NothingPlayingWidget QAbstractButton#foobar {
background-color: transparent;
background-repeat: no-repeat;
background-position: left;
text-align: center left;
border: none;
height: 44px;
width: 44px;
margin: 0px;
padding-left: 50px;
}

NothingPlayingWidget QAbstractButton#itunes {
background-image: url(":/control_bar_scrobble_itunes.png");
}

NothingPlayingWidget QAbstractButton#wmp {
background-image: url(":/control_bar_scrobble_wmp.png");
}

NothingPlayingWidget QAbstractButton#winamp {
background-image: url(":/control_bar_scrobble_winamp.png");
}

NothingPlayingWidget QAbstractButton#foobar {
background-image: url(":/control_bar_scrobble_foobar.png");
}

MetadataWidget QLabel#context {
margin: 20px 20px;
padding: 15px 15px;
background-color: #ffffff;
border: 1px solid #cdcdcd;
border-radius: 5px;
font-size: 12px;
}

ProfileWidget QLabel#userBlurb {
margin: 12px 0px;
padding: 15px 15px;
background-color: #ffffff;
border: 1px solid #cdcdcd;
border-radius: 5px;
font-size: 12px;
}

QuickStartWidget {
border: none;
margin: 14px 0px 10px 0px;
}

MetadataWidget {
border: none;
}

MetadataWidget  QFrame#scrollAreaWidgetContents {
border: none;
}

MetadataWidget QPushButton#back {
background-image: url(":/control_bar_back.png");
background-repeat: none;
background-position: center left;
background-origin: padding;
color: #333;
font-size: 12px;
text-align: center left;
background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #dbdbdb, stop:1 #c1c1c1);
border: none;
border-bottom: 1px solid #989898;
border-left: 20px solid transparent;
min-height: 38px;
max-height: 38px;
padding: 0px 0px 0px 25px;
}

MetadataWidget QFrame#trackDetails {
	border: none;
	margin: 20px 20px 0px;
}

MetadataWidget HttpImageWidget#albumImage {
color: transparent;
background-color: white;
qproperty-scaledContents: true;
border: 1px solid #aaaaaa;
min-width: 126px;
min-height: 126px;
max-width: 126px;
max-height: 126px;
padding: 4px;
margin-right: 20px;
}
	
MetadataWidget QLabel#trackTitle {
color: #333;
font-size: 16px;
font-weight: bold;
padding-bottom: 5px;
}

MetadataWidget QLabel#trackArtist {
border: 1px solid #cdcdcd;
border-width: 0px 0px 1px 0px;
padding-bottom: 12px;
color: #333;
}

MetadataWidget ScrobbleControls {
border: none;
border-top: 1px solid #ffffff;
border-bottom: 1px solid #cdcdcd;
padding: 7px 0px;
}

MetadataWidget QLabel#trackAlbum {
border-top: 1px solid #ffffff;
padding-top: 11px;
font-size: 12px;
}

MetadataWidget QFrame#trackTagsFrame {
	margin: 0px 25px 10px;
}

MetadataWidget QFrame#artistTagsFrame {
	margin: 0px 5px 10px;
}

MetadataWidget QLabel#trackPopTags,
MetadataWidget QLabel#artistPopTags,
MetadataWidget QLabel#trackYourTags,
MetadataWidget QLabel#artistYourTags {
font-size: 11px;
}

MetadataWidget QLabel#similarArtists {
font-size: 16px;
font-weight: bold;
padding: 0px 2px 10px;
border: none;
}

MetadataWidget QFrame#artistStats {
padding: 20px 40px 20px 5px;
}

MetadataWidget QLabel#trackPlays,
MetadataWidget QLabel#trackListeners,
MetadataWidget QLabel#trackUserPlays,
MetadataWidget QLabel#artistPlays,
MetadataWidget QLabel#artistListeners,
MetadataWidget QLabel#artistUserPlays {
color: #333;
font-size: 16px;
font-weight: bold;
}

MetadataWidget QLabel#trackPlaysLabel,
MetadataWidget QLabel#trackListenersLabel,
MetadataWidget QLabel#trackUserPlaysLabel,
MetadataWidget QLabel#artistPlaysLabel,
MetadataWidget QLabel#artistListenersLabel,
MetadataWidget QLabel#artistUserPlaysLabel {
color: #898989;
font-size: 10px;
font-weight: normal;
}

MetadataWidget QFrame#content {
	background-color: red;
}

MetadataWidget QFrame#artistFrame {
	background-color: #dedede;
	padding: 20px 20px 20px;
	margin: 0px;
}

MetadataWidget QLabel#artistArtist {
font-size: 16px;
font-weight: bold;
color: #333;
padding: 0px 0px 5px;
}

MetadataWidget BioWidget#artistBio {
background-color: #dedede;
border: none;
font-size: 12px;
color: #333;
}

MetadataWidget QFrame#similarArtistFrame {
	margin-right: 20px;
}

MetadataWidget QFrame#similarArtistFrame QLabel {
padding: 2px;
border: 1px solid #aaaaaa;
background-color: white;
margin: 0px 10px 30px;
color: #333;
text-align: bottom left;
font-size: 10px;
background-origin: margin;
min-width: 64px;
max-width: 64px;
max-height: 64px;
max-height: 64px;
}

MetadataWidget PlayableItemWidget {
color: white;
background-color: transparent;
min-height: 49px;
max-height: 49px;
qproperty-style: ThreePart;
}

ScrobblesListWidget {
border: none;
}

ScrobblesWidget #noScrobbles {
border: none;
}

ScrobblesWidget #noScrobbles QLabel {
color: #333;
}

ScrobblesWidget #noScrobbles QLabel#title {
font-weight: bold;
font-size: 16px;
}

ScrobblesWidget #noScrobbles QLabel#description {
font-size: 12px;
}


RefreshButton,
QPushButton#more {
background-position: center left;
background-repeat: none;
padding: 0px 10%;
background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #eeeeee, stop:1 #e2e2e2);
color: #777;
border: none;
border-bottom: 1px solid #a6a6a6;
min-height: 38px;
max-height: 38px;
}

RefreshButton:hover,
QPushButton#more:hover {
background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #fcfcfc, stop:1 #e5e5e5);
}

RefreshButton:pressed,
QPushButton#more:pressed {
background-color: #d6d6d6;
}

TrackWidget {
	border: none;
	border-top: 1px solid white;
	border-bottom: 1px solid #aaa;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #eeeeee, stop:1 #dddddd);
}

TrackWidget QFrame#frame {
	border: none;
	padding: 10px 20px;
}

TrackWidget:hover {
	background-color: #eeeeee;
}

TrackWidget:pressed {
		border-top: 1px solid #d6d6d6;
		background-color: #d6d6d6;
}

TrackWidget#nowPlaying {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #f2efc0, stop:1 #fffcca);
}

TrackWidget#nowPlaying:hover {
	background-color: #fffcca;
}

TrackWidget QLabel#trackTitle {
	font-weight: bold;
	font-size: 13px;
}

TrackWidget QLabel#artist {
	font-size: 13px;
}

TrackWidget QLabel#timestamp {
	font-size: 11px;
}

TrackWidget QPushButton#love,
TrackWidget QPushButton#tag,
TrackWidget QPushButton#share,
TrackWidget QPushButton#buy {
	color: transparent;
	border: none;
	background-repeat: no-repeat;
	background-color: transparent;
	margin: 1px 0px 0px 0px;
}

TrackWidget QPushButton#love {
	background-image: url(":/meta_love_OFF_REST.png");
	width: 21px;
	height: 18px;
}
TrackWidget QPushButton#love:hover { background-image: url(":/meta_love_OFF_HOVER.png"); }
TrackWidget QPushButton#love:pressed { background-image: url(":/meta_love_OFF_PRESS.png"); }
TrackWidget QPushButton#love:checked { background-image: url(":/meta_love_ON_REST.png"); }
TrackWidget QPushButton#love:checked:hover { background-image: url(":/meta_love_ON_HOVER.png"); }
TrackWidget QPushButton#love:checked:pressed { background-image: url(":/meta_love_ON_PRESS.png"); }

TrackWidget QPushButton#tag {
	background-image: url(":/meta_tag_REST.png");
	width: 18px;
	height: 18px;
}
TrackWidget QPushButton#tag:hover { background-image: url(":/meta_tag_HOVER.png"); }
TrackWidget QPushButton#tag:pressed { background-image: url(":/meta_tag_PRESS.png"); }

TrackWidget QPushButton#share {
	background-image: url(":/meta_share_REST.png");
	width: 21px;
	height: 18px;
}
TrackWidget QPushButton#share:hover { background-image: url(":/meta_share_HOVER.png"); }
TrackWidget QPushButton#share:pressed { background-image: url(":/meta_share_PRESS.png"); }

TrackWidget QPushButton#buy {
	background-image: url(":/meta_buy_REST.png");
	width: 21px;
	height: 18px;
}
TrackWidget QPushButton#buy:hover { background-image: url(":/meta_buy_HOVER.png"); }
TrackWidget QPushButton#buy:pressed { background-image: url(":/meta_buy_PRESS.png"); }
TrackWidget QPushButton#buy::menu-indicator { image: none; }

TrackWidget QLabel#asterisk {
	background-repeat: no-repeat;
	background-position: center;
	color: transparent;
	background-image: url(":/asterisk_small.png");
	max-width: 12px;
	max-height: 11px;
	margin: 0px 0px 0px 3px;
}

FriendListWidget QListWidget {
background-color: #eeeeee;
border: none;
}

FriendListWidget QListWidget::item {
border: none;
}

FriendListWidget QListWidget::item:first {
border: none;
}

FriendListWidget QListWidget::item:last {
border: none;
}

FriendListWidget QWidget#filterBackground {
background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #dbdbdb, stop:1 #c1c1c1);
border-bottom: 1px solid #989898;
}

FriendListWidget QLineEdit {
margin: 16px;
border: 1px solid #989898;
border-radius: 5px;
padding: 5px;
selection-background-color: darkgray;
font-size: 14px;
}

FriendListWidget QListView::item:selected {
  background-color: #dddddd;
}

QuickStartWidget QLineEdit {
border: 1px solid #cdcdcd;
border-radius: 5px;
padding: 10px 10px;
selection-background-color: darkgray;
font-size: 17px;
}

QuickStartWidget QPushButton {
background-image: url(":/radio_play_large_REST.png");
background-color: transparent;
background-repeat: no-repeat;
color: transparent;
border: none;
height: 58px;
width: 58px;
margin: 0px 0px 0px 10px;
}

QuickStartWidget QPushButton:hover { background-image: url(":/radio_play_large_HOVER.png"); }
QuickStartWidget QPushButton:pressed { background-image: url(":/radio_play_large_PRESS.png"); }

QuickStartWidget QLabel#whyNotTry {
	margin: 2px 0px 2px 1px;
	font-size: 12px;
}

QScrollArea {
border: none;
}

ProfileWidget {
border: none;
margin: 0px 20px;
}

RadioWidget QFrame#section {
border: none;
}

ProfileWidget QFrame#user {
border: none;
margin: 20px 0px 10px;
}

FriendWidget {
margin: 0px 20px;
padding: 10px 0px;
border: none;
border-top: 1px solid white;
border-bottom: 1px solid #cdcdcd;
}

FriendWidget QFrame#nowListening,
FriendWidget QFrame#groupBox {
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 6px 10px;
}

FriendWidget QFrame#nowListening {
	background-color: #fffcca;
}

FriendWidget QFrame#groupBox {
	background-color: #dedede;
}

FriendWidget AvatarWidget#avatar,
ProfileWidget AvatarWidget#avatar,
ProfileArtistWidget QLabel#artistImage,
ShareDialog HttpImageWidget#icon,
TagDialog HttpImageWidget#icon,
UserManagerWidget AvatarWidget#image,
TrackWidget HttpImageWidget#albumArt{
padding: 2px;
background-color: white;
color: transparent;
border: 1px solid #aaaaaa;
min-width: 64px;
min-height: 64px;
max-width: 64px;
max-height: 64px;
margin: 0px 20px 8px 0px;
}

TrackWidget HttpImageWidget#albumArt {
margin: 0px 10px 0px 0px;
}

ProfileWidget AvatarWidget#avatar {
	padding: 4px;
	min-width: 126px;
	min-height: 126px;
	max-width: 126px;
	max-height: 126px;
}

ProfileArtistWidget QLabel#artistImage {
	max-height: 52px;
	min-height: 52px;
}

FriendWidget QLabel#lastTrack {
	font-weight: bold;
	font-size: 12px;
	color: #333;
}

ProfileWidget QLabel#name {
	font-size: 16px;
	color: #333;
}


ProfileWidget QLabel#scrobbleCount,
ProfileWidget QLabel#lovedCount {
	font-size: 14px;
	color: #333;
}

ProfileWidget QLabel#scrobbles,
ProfileWidget QLabel#loved,
ProfileWidget QLabel#infoString {
	font-size: 11px;
	color: #898989;
}


FriendWidget QLabel#username {
font-weight: bold;
font-size: 14px;
color: #333;
}

FriendWidget QLabel#userDetails {
font-size: 11px;
color: #898989;
}

FriendWidget QLabel#timestamp {
font-size: 11px;
color: #333;
}

FriendListWidget QLabel#noFriends {
	color: #333;
}

FriendListWidget QWidget#noFriendsPage {
	border: none;
	margin: 20px;
}

FriendListWidget PushButton {
color: #333;
text-align: center center;
font-weight: bold;
background-color: transparent;
min-height: 49px;
max-height: 49px;
}

FriendWidget QLabel#equaliser,
TrackWidget QLabel#equaliser {
margin-right: 5px;
}

RadioWidget {
border: none;
margin: 0px 20px;
}

RadioWidget PlayableItemWidget,
FriendWidget PlayableItemWidget,
ProfileWidget PlayableItemWidget {
background-color: transparent;
background-repeat: no-repeat;
border: none;
text-align: top left;
font-weight: bold;
font-size: 14px;
color: #333;
height: 40px;
padding: 3px 0px 3px 54px;
margin: 5px 0px;
}

ProfileArtistWidget {
  border: none;
  margin: 10px 0px;
}

ProfileArtistWidget QLabel#artistImage {
  margin: 0px 20px 0px 0px;
}

ProfileArtistWidget QLabel#artistName {
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

ProfileArtistWidget QLabel#plays {
  color: white;
  font-size: 11px;
  font-weight: bold;
  min-height: 20px;
  max-height: 20px;
  padding-left: 5px;
}

RadioWidget PlayableItemWidget#library {
background-image: url(":/radio_library_REST.png");
}
RadioWidget PlayableItemWidget#library:hover {
background-image: url(":/radio_library_HOVER.png");
}
RadioWidget PlayableItemWidget#library:pressed {
background-image: url(":/radio_library_PRESS.png");
}
		
RadioWidget PlayableItemWidget#mix {
background-image: url(":/radio_mix_REST.png");
}
RadioWidget PlayableItemWidget#mix:hover {
background-image: url(":/radio_mix_HOVER.png");
}
RadioWidget PlayableItemWidget#mix:pressed {
background-image: url(":/radio_mix_PRESS.png");
}
		
RadioWidget PlayableItemWidget#rec {
background-image: url(":/radio_rec_REST.png");
}
RadioWidget PlayableItemWidget#rec:hover {
background-image: url(":/radio_rec_HOVER.png");
}
RadioWidget PlayableItemWidget#rec:pressed {
background-image: url(":/radio_rec_PRESS.png");
}
		
RadioWidget PlayableItemWidget#friends,
RadioWidget PlayableItemWidget#neighbours {
background-image: url(":/radio_friends_REST.png");
}
RadioWidget PlayableItemWidget#friends:hover,
RadioWidget PlayableItemWidget#neighbours:hover {
background-image: url(":/radio_friends_HOVER.png");
}
RadioWidget PlayableItemWidget#friends:pressed,
RadioWidget PlayableItemWidget#neighbours:pressed {
background-image: url(":/radio_friends_PRESS.png");
}

RadioWidget PlayableItemWidget#station,
FriendWidget PlayableItemWidget,
ProfileWidget PlayableItemWidget {
	background-image: url(":/radio_play_small_REST.png");
	font-size: 12px;
	max-height: 24px;
	margin: 0px;
	padding: 0px;
}

RadioWidget PlayableItemWidget#station {
	qproperty-style: DescriptionElide;
	padding-left: 30px;
	text-align: left center;
}

FriendWidget PlayableItemWidget,
ProfileWidget PlayableItemWidget {
	qproperty-style: DescriptionNone;
	color: transparent;
	max-width: 24px;
}

RadioWidget PlayableItemWidget#station:hover,
FriendWidget PlayableItemWidget:hover,
ProfileWidget PlayableItemWidget:hover {
background-image: url(":/radio_play_small_HOVER.png");
}
RadioWidget PlayableItemWidget#station:pressed,
FriendWidget PlayableItemWidget:pressed,
ProfileWidget PlayableItemWidget :pressed {
background-image: url(":/radio_play_small_PRESS.png");
}

RadioWidget QLabel#title,
ProfileWidget QLabel#weekTitle,
ProfileWidget QLabel#overallTitle {
color: #333;
padding: 0px 0px 10px;
border: none;
font-weight: bold;
font-size: 15px;
}

RadioWidget QFrame#nonSubFrame {
	padding: 20px 10px 0px;
	background-repeat: none;
	background-image: url(":/subscribe_bg.png");
	background-position: center top;
}

RadioWidget QFrame#nonSubFrame QLabel#title {
	color: #333;
	font-size: 18px;
}

RadioWidget QLabel#headphones {
	color: transparent;
	background-repeat: none;
	background-image: url(":/subscribe_radio.png");
	min-width: 218px;
	min-height: 144px;
	margin: 20px 0px 30px;
}

RadioWidget QLabel#description {
	color: #333;
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 20px;
}

RadioWidget PushButton {
color: #333;
text-align: center center;
font-weight: bold;
font-size: 14px;
background-color: transparent;
min-height: 49px;
max-height: 49px;
}

RadioWidget PushButton#subscribe {
	color: #fff;
	qproperty-dark: true;
}

PlaybackControlsWidget {
border: none;
}

PlaybackControlsWidget QLabel#icon {
color: transparent;
min-width: 44px;
min-height: 44px;
margin: 0px 14px;
qproperty-alignment: AlignCenter;
}

PlaybackControlsWidget QFrame#statusFrame {
padding: 13px 0px;
}

PlaybackControlsWidget QFrame#statusFrame QLabel {
color: white;
font-size: 12px;
}

PlaybackControlsWidget QFrame#statusFrame QLabel#device {
font-weight: bold;
font-size: 14px;
}

PlaybackControlsWidget[scrobbleTrack="false"] QFrame#details {
	max-height: 64px;
	min-height: 64px;
}

PlaybackControlsWidget[scrobbleTrack="false"] QFrame#details {
background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:1 #3B3B3B, stop:0 #545454);
border: none;
border-bottom: 1px solid #272727;

}

PlaybackControlsWidget[scrobbleTrack="true"] QFrame#details {
background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:1 #c1c1c1, stop:0 #dbdbdb);
border: none;
border-bottom: 1px solid #9f9f9f;
}

PlaybackControlsWidget[scrobbleTrack="true"] QFrame#statusFrame QLabel {
color: #333;
}

PlaybackControlsWidget QPushButton {
background-color: transparent;
background-repeat: no-repeat;
border: none;
color: transparent;
height: 28px;
margin: 0px 3px;
}

PlaybackControlsWidget QFrame#controls {
margin: 0px 12px 0px 0px;
}

PlaybackControlsWidget QFrame#buttons {
margin: 8px 0px -2px 0px;
}

PlaybackControlsWidget QPushButton#love {
background-image: url(":/controls_love_OFF_REST.png");
max-width: 29px;
min-width: 29px;
}

PlaybackControlsWidget QPushButton#love:hover {
background-image: url(":/controls_love_OFF_HOVER.png");
}
PlaybackControlsWidget QPushButton#love:pressed {
background-image: url(":/controls_love_OFF_PRESS.png");
}
PlaybackControlsWidget QPushButton#love:checked {
background-image: url(":/controls_love_ON_REST.png");
}
PlaybackControlsWidget QPushButton#love:checked:hover {
background-image: url(":/controls_love_ON_HOVER.png");
}
PlaybackControlsWidget QPushButton#love:checked:pressed {
background-image: url(":/controls_love_ON_PRESS.png");
}
		
PlaybackControlsWidget QPushButton#ban {
background-image: url(":/controls_ban_REST.png");
max-width: 28px;
min-width: 28px;
}
PlaybackControlsWidget QPushButton#ban:hover {
background-image: url(":/controls_ban_HOVER.png");
}
PlaybackControlsWidget QPushButton#ban:pressed {
background-image: url(":/controls_ban_PRESS.png");
}
		
PlaybackControlsWidget QPushButton#play {
background-image: url(":/controls_play_REST.png");
max-width: 25px;
min-width: 25px;
}
PlaybackControlsWidget QPushButton#play:hover {
background-image: url(":/controls_play_HOVER.png");
}
PlaybackControlsWidget QPushButton#play:pressed {
background-image: url(":/controls_play_PRESS.png");
}
PlaybackControlsWidget QPushButton#play:checked {
background-image: url(":/controls_pause_REST.png");
}
PlaybackControlsWidget QPushButton#play:checked:hover {
background-image: url(":/controls_pause_HOVER.png");
}
PlaybackControlsWidget QPushButton#play:checked:pressed {
background-image: url(":/controls_pause_PRESS.png");
}
		
PlaybackControlsWidget QPushButton#skip {
background-image: url(":/controls_skip_REST.png");
max-width: 39px;
min-width: 39px;
}
PlaybackControlsWidget QPushButton#skip:hover {
background-image: url(":/controls_skip_HOVER.png");
}
PlaybackControlsWidget QPushButton#skip:pressed {
background-image: url(":/controls_skip_PRESS.png");
}

PlaybackControlsWidget ProgressBar {
border-top: 1px solid #e5e5e5;
border-bottom: 1px solid #9b9b9b;
background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:1 #cccccc, stop:0 #e5e5e5);
qproperty-chunk: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:1 #b6b6b6, stop:0 #cdcdcd);
min-height: 21px;
}

ScrobbleControls QPushButton {
background-color: transparent;
color: transparent;
background-repeat: no-repeat;
background-position: center;
margin: 0px;
padding: 3px 0px;
width: 20px;
}

ScrobbleControls QPushButton#love {
background-image: url(":/meta_love_OFF_REST.png");
}
ScrobbleControls QPushButton#love:hover {
background-image: url(":/meta_love_OFF_HOVER.png");
}
ScrobbleControls QPushButton#love:pressed {
background-image: url(":/meta_love_OFF_PRESS.png");
}
ScrobbleControls QPushButton#love:checked {
background-image: url(":/meta_love_ON_REST.png");
}
ScrobbleControls QPushButton#love:checked:hover {
background-image: url(":/meta_love_ON_HOVER.png");
}
ScrobbleControls QPushButton#love:checked:pressed {
background-image: url(":/meta_love_ON_PRESS.png");
}

ScrobbleControls QPushButton#tag {
background-image: url(":/meta_tag_REST.png");
}
ScrobbleControls QPushButton#tag:hover {
background-image: url(":/meta_tag_HOVER.png");
}
ScrobbleControls QPushButton#tag:pressed {
background-image: url(":/meta_tag_PRESS.png");
}

ScrobbleControls QPushButton#share {
background-image: url(":/meta_share_REST.png");
}
ScrobbleControls QPushButton#share:menu-indicator {
background: transparent;
}
ScrobbleControls QPushButton#share:hover {
background-image: url(":/meta_share_HOVER.png");
}
ScrobbleControls QPushButton#share:pressed {
background-image: url(":/meta_share_PRESS.png");
}

ScrobbleControls QPushButton#buy {
background-image: url(":/meta_buy_REST.png");
}
ScrobbleControls QPushButton#buy:menu-indicator {
background: transparent;
}
ScrobbleControls QPushButton#buy:hover {
background-image: url(":/meta_buy_HOVER.png");
}
ScrobbleControls QPushButton#buy:pressed {
background-image: url(":/meta_buy_PRESS.png");
}

BannerWidget {
background-color: #dedede;
margin: 6px 7px 0px 3px;
}

BannerWidget HttpImageWidget {
  border: 1px solid #aaaaaa;
  background-color: white;
  padding: 4px;
}

BannerWidgetPrivate {
background-color: red;
color: white;
font-size: 11px;
}

ShareDialog QFrame#what,
TagDialog QFrame#what {
border: 1px solid #DBDBDB;
border-radius: 5px;
background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #ABABAB, stop:0.04 #E6E6E6, stop:1 #E6E6E6);
padding: 18px;
margin: 18px 0px;
}

ShareDialog > QRadioButton {
margin-left: 10px;
font-weight: bold;
}

ShareDialog > QLabel,
ShareDialog > QCheckBox,
ShareDialog > QRadioButton,
TagDialog > QLabel,
TagDialog > QCheckBox,
TagDialog > QRadioButton {
font-size: 12px;
font-weight: bold;
}

ShareDialog QLabel#with {
margin-bottom: 10px;
font-size: 12px;
}

ShareDialog QLabel#messageTitle {
margin-top: 16px;
margin-bottom: 10px;
}

ItemSelectorWidget {
background-color: white;
}

ItemSelectorWidget QLineEdit {
padding: 1px 2px 2px 3px;
margin: 2px;
}

ItemSelectorWidget QLabel {
padding: 2px 3px;
margin: 2px 0px 2px 2px;
background-color: #DAE7F9;
font-weight: bold;
border: 1px solid #99BEEE;
border-radius: 9px;
min-width: 12px;
}

ShareDialog QTextEdit {
margin-bottom: 16px;
}

ShareDialog QLabel#characterLimit {
font-size: 11px;
font-weight: normal;
}

ShareDialog QLabel#characterLimit[xerror="true"] {
color: red;
}

ShareDialog QLabel#characterLimit,
ShareDialog QCheckBox {
margin-bottom: 16px;
}

StatusBar QFrame {
border: none;
background-color: transparent;
margin: 1px 0px 2px;
}

StatusBar QPushButton#cog {
border: 1px solid #cdcdcd;
border-radius: 3px;
background-repeat: no-repeat;
background-position: center;
background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #ffffff, stop:1 #e5e5e5);
background-image: url(":/settings_REST.png");
width: 30px;
height: 22px;
margin: 0px 10px;
}

StatusBar QPushButton#cog:hover {
background-image: url(":/settings_HOVER.png");
}
StatusBar QPushButton#cog:pressed {
background-image: url(":/settings_PRESS.png");
}

StatusBar QLabel#scrobbleIcon { qproperty-pixmap: url(":/scrobble_OFF.png"); }

PlaybackControlsWidget QFrame#volume {
border: none;
margin: 0px 0px 4px 4px;
}

PlaybackControlsWidget QLabel#volMin,
PlaybackControlsWidget QLabel#volMax {
border: none;
background-repeat: no-repeat;
background-position: center;
min-width: 16px;
max-width: 16px;
height: 16px;
margin: 0px 0px 0px 0px;
background-image: url(":/volume_min.png");
}

PlaybackControlsWidget QLabel#volMin {
min-width: 8px;
max-width: 8px;
}

PlaybackControlsWidget QLabel#volMax {
background-image: url(":/volume_max.png");
}

PlaybackControlsWidget Phonon--VolumeSlider {
min-width: 104px;
max-width: 112px;
margin: 0px -3px 0px -3px;
}

PlaybackControlsWidget QSlider::groove:horizontal {
background-repeat: no-repeat;
background-position: center;
width: 112px;
height: 16px;
background-image: url(":/volume_slot_OFF.png");
}

PlaybackControlsWidget QSlider::handle:horizontal {
background-repeat: no-repeat;
background-position: center;
width: 16px;
height: 16px;
background-image: url(":/volume_knob_REST.png");
}

PlaybackControlsWidget QSlider::handle:horizontal:pressed {
background-image: url(":/volume_knob_PRESS.png");
}

StatusBar QFrame#permanentWidget {
margin: 0px 10px;
}

QDialog#AboutDialog QFrame#frame {
	margin: 10px 20px 20px;
}

QDialog#AboutDialog QLabel {
	font-size: 11px;
}

QDialog#AboutDialog QLabel#as {
	border: none;
	background-repeat: no-repeat;
	background-position: center;
	qproperty-pixmap: url(":/as.png");
	qproperty-scaledContents: true;
	max-height: 64px;
	max-width: 64px;
}

IpodSettingsWidget unicorn--Label {
	font-size: 12px;
	color: #333;
}