<p class="social-links">
  

 
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /></a>.<span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>

<a href="http://www.facebook.com/shenal" target="_blank">
    <img src="/images/social/Facebook.png" alt="Shenal Silva on Facebook">
  </a>
  <a href="http://www.twitter.com/shenalsilva" target="_blank">
    <img src="/images/social/Twitter.png" alt="Shenal Silva on Twitter">
  </a>
  
  <a href="http://linkedin.com/in/shenalsilva" target="_blank">
    <img src="/images/social/LinkedIn.png" alt="Shenal Silva on LinkedIn">
  </a>
  
  <a href="http://github.com/shenal" target="_blank">
    <img src="/images/social/Github.png" alt="Shenal Silva on Github">
  </a>
</p>

